.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cardContent {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.btn {
    margin-top: auto !important;
}